body {
    margin: 0px 300px 0px 300px;
    background-color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.inputbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputbox input{
    width: 400px;
    height: 150px;
    box-shadow: black;
}